{% extends 'base.html' %}
{% block content %}

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 mb-4">
          <form action="{% url 'checkout' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
        <!-- Checkout -->
        <div class="card shadow-0 border">
          <div class="p-4">

            <hr class="my-4" />

            <h5 class="card-title mb-3">Shipping info</h5>

            <div class="row">
              <div class="col-sm-8 mb-3">
                <p class="mb-0">Address</p>
                <div class="form-outline">
                  <input name="address" type="text" id="typeText" placeholder="Type here" class="form-control" />
                </div>
              </div>

              <div class="col-sm-4 mb-3">
                <p class="mb-0">City</p>
                <select class="form-select" name="city">
                  <option value="Kathmandu">Kathmandu</option>
                  <option value="Bhaktpur">Bhaktpur</option>
                  <option value="Lalitpur">Lalitpur</option>
                </select>
              </div>

              <div class="col-sm-4 mb-3">
                <p class="mb-0">Mobile Number</p>
                <div class="form-outline">
                  <input type="text" name="mobile_number" id="typeText" placeholder="Type here" class="form-control"
                  maxlength="10"/>
                </div>
              </div>

                <div class="col-sm-4 mb-3">
                <p class="mb-0">House</p>
                <div class="form-outline">
                  <input type="text" name="house_number" id="typeText" placeholder="Type here" class="form-control" />
                </div>
              </div>
            </div>

            <div class="mb-3">
              <p class="mb-0">Message to seller</p>
              <div class="form-outline">
                <textarea name="message" class="form-control" id="textAreaExample1" rows="2"></textarea>
              </div>
            </div>

            <div class="float-end">
              <a href="{% url 'shopping_cart' %}" class="btn btn-light border">Cancel</a>
              <button type="submit" class="btn btn-success shadow-0 border">Buy Now</button>
            </div>
          </div>
        </div>
          </form>
        <!-- Checkout -->
      </div>

      <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
          <h6 class="mb-3">Summary</h6>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2">Rs {{ cart_total }}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Discount (5%):</p>
            <p class="mb-2 text-danger">- Rs {{ discount }}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">TAX (13%):</p>
            <p class="mb-2">+ Rs {{ tax }}</p>
          </div>

            <div class="d-flex justify-content-between">
            <p class="mb-2">Shipping cost:</p>
            <p class="mb-2">+ Rs {{ shipping_fee }}</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2 fw-bold">Rs {{ order_total }}</p>
          </div>



          <hr />
          <h6 class="text-dark my-4">Items in cart</h6>
            {% for item in cart_items %}

          <div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                1
              </span>
              <img src="{{ item.product.image }}" style="height: 96px; width: 96px;" class="img-sm rounded border" />
            </div>
            <div class="">
              <a href="#" class="nav-link">
                {{ item.product.title }} <br />
              </a>
              <div class="price text-muted">Total: Rs {{ item.cart_total }}</div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
```